@model List<Pets_UI.Mvc.Models.AnimalToCare>

@{
    ViewBag.Title = "ShowArchive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Archival animals</h2>

@ViewBag.Message

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].Animal.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].DateFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].DateTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].IsTaken)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Animal.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsTaken)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", "Animal", new { animalId = item.Animal.Id }, null)
        </td>
    </tr>
    }
</table>
